@{
    ViewData["Title"] = "404";
}
<div class="container text-center rtl">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <img src="/medias/shared/404.png" alt="صفحه مورد نظر یافت نشد"
                 title="صفحه مورد نظر یافت نشد"
                 class="img img-fluid mb-4">
            <h1 class="display-4">صفحه ای که به دنبال آن بودید یافت نشد</h1>
            <p class="lead">ممکن است این صفحه حذف شده یا آدرس وارد شده اشتباه باشد</p>
            <a asp-area=""
               asp-controller="Home"
               asp-action="Index"
               title="خانه"
               class="btn btn-primary">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</div>


